<!doctype html>
<title>Guessing game</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>
<div class=page>
<h1>Guessing game</h1>
This is Catfishing, a game built from Wikidata items.

<!-- In Kevan's version:
<div class="c"><table class="cat"><tr><td>Groupware</td><td>Types of communities</td><td>Internet terminology</td></tr><tr><td class="bl">&nbsp;</td><td>Hawaiian words</td><td class="bl">&nbsp;</td></tr></table></div>
<div class="answer">
<div id="toggle2">What person or place or thing belongs to all of these categories?<br><a href="javascript:showAnswer();">Reveal answer</a></div>
<div id="toggle"><p>That was <a href="http://en.wikipedia.org/wiki/ARTICLE"><b>Wiki</b></a></p>


<p class="intro2">Did you get it right? Click the appropriate button below, and your
score will be altered accordingly.<br><br>(If a set of categories is too broad 
to give a single answer, or seems otherwise unsuitable, you can click 
the 'stupid' button to report it.)</p>
  
<form action="catfishing.php?prev=ARTICLE" method="post" class="ansbutton">
<input type="submit" value="I got it" name="right" class="bright">
<input type="hidden" name="ans" value="799 OR CHOOSE AN INT???">
</form>
<form action="catfishing.php?prev=ARTICLE" method="post" class="ansbutton">
<input type="submit" value="I didn't get it" name="wrong" class="bwrong">
<input type="hidden" name="ans" value="799">
</form><br>
<form action="catfishing.php?prev=ARTICLE" method="post" class="ansbutton">
<input type="submit" value="That one was stupid" name="stupid" class="bstupid">
<input type="hidden" name="ans" value="799">
</form>
-->

<form id="customize" method="post" action="custom">
<p>Sexism? <input type="checkbox" name="sexist" {% if sexist %}checked="checked"{% endif %}/></p>
<p>Ageism? <input type="checkbox" name="ageist" {% if ageist %}checked="checked"{% endif %} /></p>
<p>Filter out the less plot-premise-friendly ones?
<br />Yes <input type="radio" name="boringfilter" value="True" {% if boringfilter %}checked="checked"{% endif %} />
<br />No <input type="radio" name="boringfilter" value="False" {% if not boringfilter %}checked="checked"{% endif %} /></p>
<p>
<input type='submit' value='Tyrannize!' />
</form>
<h2>Imagine a world without these rights:</h2>
{{rights|safe}}
<p>Want <a href="{{url_for("index_pg")}}">fewer options</a>?</p>
<i><a href="{{url_for("about_pg")}}">What is this?</a></i>
</div>
